*{
    margin: 0;
    padding: 0;
}

.header{
    padding-top: 160px;
    background-color: lightskyblue;
}

.projectButton{
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);  
}

.bg-faded {
  background-color: lightgoldenrodyellow;
}



