.heading {
    padding-top: 165px;
}

header {
    background-color: lightblue;
    padding-bottom: 10px;
}

.map {
    background-color: lightblue;
}

.locationBox {
    background-color: lightgoldenrodyellow;
    border-bottom: 5px solid black;
    border-top:  5px solid black;
}

.locationBox {
    padding-top: 10px;
}

.tiny-font {
    font-size: small;
}

.space {
    padding-top: 10px;
}

.email {
    text-align: center;
}